<!--views/partials/navbar.hbs-->

<nav class="navbar navbar-default">
  <div class="navbar-custom">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <!--<img src="img/potato_skin.png"/>-->
          Rotten Potatoes
        </a>
      </div>

      <!--<div class="pull-right">-->
        <!--<a href="/review/new" class="btn btn-default navbar-btn">New Review</a>-->
      <!--</div>-->
    </div>
  </div>
</nav>