/*.review-container {*/
	/*margin: 1rem;*/
	/*margin-bottom: 2rem;*/
/*}*/

/*.reviews {*/
	/*padding: 2rem;*/
	/*margin-bottom: 2rem;*/
/*}*/

/*h1 {*/
	/*color: red;*/
/*}*/

/*p {*/
	/*margin-top: -1rem;*/
	/*margin-bottom: 2rem;*/
/*}*/