h1 {
  font-size: 50px;
  text-align: center;
  margin: 2rem 0 4rem;
}

body {
  margin-bottom: 10px;
	font-size: 14px;
  background-color: #f4ebd6: 
}

.review-single {
  margin-bottom: 5rem;
}

.rating {
  margin-top: 2rem;
}

.navbar {
	height: 100px;
}

.navbar-custom {
	background-color: sandybrown !important;
	height: 100px;
}
.navbar-brand {
	margin-top: 2rem;
	color: white !important;
/*	width: 100%;
	height: auto;*/
}

.navbar-btn {
	margin: 3.15rem 1rem;
	background-color: #944d05; /* Brown */
	border: none;
	color: white;
	display: inline-block;
}

/**************************
			movie index
**************************/

.movie-container {}

.movie-title {
	/*margin-top: 4rem;*/
	font-family: "Work Sans", sans-serif;
	font-weight: 300;
	font-size: 24px;
	margin-bottom: 4rem;
}

.movie-thumb {
	border-radius: 10px;
	/*border: 1px solid black;*/
}

/*.row {*/
	/*max-height: 400px;*/
/*}*/

.col-sm-3 {
	max-width: 250px;
}
