<!-- views/reviews-edit.handlebars -->
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <!--'/movies/:movieId/reviews/:id/edit'-->
    <form class="edit-form" action="/movies/{{review.movieId}}/reviews/{{review._id}}" method="POST">
      {{> reviews-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Review</button>
      </div>
    </form>
  </div>
</div>