<!--views/reviews-new.hbs-->
<div class="row">
  <div class="col-sm-3 col-sm-offset-3">
    <!--/movies/:movieId/reviews/new-->
    <form class="new-review" action="/movies/{{movieId}}/reviews" method="POST" >
      <div>{{movieId}}</div>
      {{> reviews-form}}

      <!-- BUTTON -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Review</button>
      </div>
      <input type="hidden" name="movieId" value="{{movieId}}">
    </form>
  </div>
</div>